absl-py>=2.4.0
aext-assistant>=0.0.1
aext-assistant-server>=0.0.1
aext-core>=0.0.1
aext-core-server>=0.0.1
aext-panels>=0.0.2
aext-panels-server>=0.0.1
aext-share-notebook>=0.0.1
aext-share-notebook-server>=0.0.1
aext-shared>=0.0.1
aiohttp>=3.14.3
alembic>=1.18.4
annotated-doc>=0.0.4
annotated-types>=0.7.0
appdirs>=1.4.4
argcomplete>=3.7.2
astunparse>=1.6.3
asyncpg>=0.31.0
atomicwrites>=1.4.0
audioop-lts>=0.2.2
audioread>=3.1.0
av>=17.0.0
bidict>=0.23.1
bs4>=0.0.2
catboost>=1.2.10
certifi>=2026.6.17
cfgv>=3.5.0
charset-normalizer>=3.4.7
click>=8.4.1
colorlog>=6.12.0
cryptography>=48.0.0
ctranslate2>=4.7.1
cuda-bindings>=13.3.1
cuda-pathfinder>=1.6.0
cuda-toolkit>=13.0.3.0
Cython>=3.2.4
discord>=2.3.2
discord.py>=2.7.1
distlib>=0.4.3
dlib>=20.0.0
dnspython>=2.8.0
docker>=7.2.0
ecdsa>=0.19.2
fastapi>=0.135.1
faster-whisper>=1.2.1
fastuuid>=0.14.0
filelock>=3.32.5
Flask>=3.1.3
Flask-SocketIO>=5.6.1
flatbuffers>=25.12.19
fqdn>=1.5.1
gast>=0.7.0
gensim>=4.4.0
google-pasta>=0.2.0
graphviz>=0.21
greenlet>=3.5.2
grpcio>=1.78.1
h5py>=3.14.0
hf-xet>=1.4.2
httpcore2>=2.12.0
httptools>=0.7.1
httpx2>=2.12.0
huggingface_hub>=1.8.0
identify>=2.6.19
idna>=3.18
imutils>=0.5.4
isoduration>=20.11.0
jiter>=0.16.0
keras>=3.13.2
keras-tuner>=1.4.8
kt-legacy>=1.0.5
lark>=1.3.1
libclang>=18.1.1
librosa>=0.11.0
lightgbm>=4.6.0
litellm>=1.96.2
Mako>=1.3.12
MarkupSafe>=3.0.3
matplotlib>=3.10.8
mediapipe>=0.10.32
minio>=7.2.20
mkl-service>=2.6.1
ml_dtypes>=0.5.4
mlxtend>=0.24.0
namex>=0.1.0
nodeenv>=1.10.0
onnxruntime>=1.24.4
openai>=2.54.0
openai-whisper>=20250625
opencv-contrib-python>=4.13.0.92
opencv-python>=4.13.0.92
openwakeword>=0.4.0
opt_einsum>=3.4.0
optree>=0.19.0
optuna>=4.9.0
packaging>=26.2
pandas-stubs>=2.3.3.260113
passlib>=1.7.4
pickle-mixin>=1.0.2
pillow>=12.2.0
pipx>=1.16.7
platformdirs>=4.11.3
pooch>=1.9.0
pre_commit>=4.6.2
protobuf>=7.34.1
psycopg2-binary>=2.9.12
pvporcupine>=4.0.2
pyasn1>=0.6.3
PyAudio>=0.2.14
pycparser>=3.0
pycryptodome>=3.23.0
pydantic>=2.13.4
pydantic-settings>=2.15.0
pydantic_core>=2.46.4
pydeck>=0.9.2
pydot>=4.0.1
pyjokes>=0.8.3
pyls-spyder>=0.4.0
PyQt5>=5.15.11
PyQtWebEngine>=5.15.7
pytesseract>=0.3.13
pytest-asyncio>=1.4.0
python-discovery>=1.6.0
python-dotenv>=1.2.2
python-engineio>=4.13.1
python-jose>=3.5.0
python-multipart>=0.0.32
python-socketio>=5.16.1
pyttsx3>=2.99
qrcode>=8.2
#qstylizer @ file:///work/perseverance-python-buildout/croot/qstylizer_1728411340734/work/dist/qstylizer-0.2.2-py2.py3-none-any.whl#sha256=794fd94c256c524d9db40a08c2f7b207433891dabe1a29ef878308c282ba4e77
redis>=8.1.0
regex>=2026.5.9
requests>=2.34.2
rfc3987-syntax>=1.1.0
roman-numerals>=4.1.0
rsa>=4.9.1
safetensors>=0.7.0
scikit-learn>=1.8.0
sentry-sdk>=2.59.0
setuptools>=82.0.1
shiboken6>=6.11.0
simple-websocket>=1.1.0
skills>=0.3.0
sklearn-compat>=0.1.5
smart_open>=8.0.1
sounddevice>=0.5.5
soundfile>=0.13.1
soxr>=1.0.0
SQLAlchemy>=2.0.51
standard-aifc>=3.13.0
standard-chunk>=3.13.0
standard-sunau>=3.13.0
starlette>=0.52.1
streamlit>=1.57.0
#-e git+https://github.com/Enky-yy/Syntrak.git@66a0e13d1099231ad271035e19f7faa1b2dbc09d#egg=syntrak
tensorboard>=2.20.0
tensorboard-data-server>=0.7.2
tensorflow>=2.21.0
tensorflow-hub>=0.16.1
termcolor>=3.3.0
tf_keras>=2.21.0
tiktoken>=0.12.0
tokenizers>=0.22.2
torch>=2.13.0
torchinfo>=1.8.0
torchvision>=0.28.0
transformers>=5.9.0
triton>=3.7.1
typer>=0.20.0
typer-slim>=0.20.0
types-pytz>=2025.2.0.20251108
uri-template>=1.3.0
urllib3>=2.7.0
userpath>=1.9.2
uv>=0.12.9
uvicorn>=0.49.0
virtualenv>=21.7.8
webcolors>=25.10.0
webrtcvad>=2.0.10
websockets>=16.0
Werkzeug>=3.1.8
wheel>=0.46.3
wordcloud>=1.9.6
wsproto>=1.3.2
xgboost>=3.2.0
